
button {

   margin: 15px;
   color: lightseagreen;
}

.container {
margin-top: 0px;
float: right;

}

#gifArea {

  position: relative;
  float: left;
  margin: 20px 0 25px;
  overflow: auto;
  margin-right: 250px;
  
}

.img {
  padding: 5px;
}